body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  transition: background-color 0.3s ease;
}

body.light-mode {
  background-color: #ffffff;
}
.main-content {
  padding: 20px;
  margin-top: 20px;
}